.section-about {
    margin-top: 80px;
}

.section__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.section__img {
    display: flex;
    justify-content: space-between;
}

.section__img img {
    height: 280px;
    width: 580px;
}